# Amankan semua isi folder data
data/
!data/staging/.gitkeep

# Amankan environment & cache lebih menyeluruh
.env
*.env
__pycache__/
*.pyc
out/
build/
.turbo/

# --- OPTIMASI REPOSITORI & KEAMANAN DATA ---
node_modules/
.next/
.venv/
venv/

# ISOLASI PROYEK UNTUK KOLABORASI TIM
ezsign-frontend/
